.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: rgb(5, 7, 43);
  position: sticky;
  top: 0;
  z-index: 100;
}
.header_logo {
  height: 50px;
  margin-top: 10px;
  width: 120px;
  object-fit: fill;
}

.header_search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.header_searchInput {
  height: 13px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header_searchIcon {
  padding: 5px;
  height: 24px !important;
  background-color: coral;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}
.header_option {
  display: flex;
  color: white;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.header_optionLineOne {
  font-size: 10px;
}
.header_optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}
.header_optionBasket {
  display: flex;
  align-items: center;
  color: white;
}
.header_basketCount {
  margin-right: 10px;
  margin-left: 5px;
}
